@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.nav-bg {
  @apply absolute z-0 h-full w-full bg-[#1d1d1f];
  transform: translateY(150%) scale(0);
  transition: ease-in-out 300ms;
}

.nav-link-wrapper:hover > .nav-bg {
  transform: translateY(0%) scale(1);
}

@keyframes bg-in {
  0% {
    transform: translateY(-150%) scale(0);
  }

  100% {
    transform: translateY(0%) scale(1);
  }
}
.gradient-01 {
  background-image: linear-gradient(24deg, #414380, transparent 21%),
    linear-gradient(198deg, #ffdfac 11%, transparent 18%),
    linear-gradient(
      50deg,
      #923880 5%,
      #ff083f 32%,
      #fb5e4f 35%,
      #f85448 65%,
      #fba64b 83%,
      #ffa745 91%
    );
}
